
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// @use '@angular/material' as mat;

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $WebCNueva-primary: mat-palette($mat-light-green,300);
// $WebCNueva-accent: mat-palette($mat-blue, A200, A100, A400);
// $WebCNueva-primary: mat-palette($mat-blue, 700);
// $WebCNueva-accent: mat-palette($mat-light-green,A200, A100, A400);
$my-primary: (
  50 :  #e3f2fd,
  100 : #bbdefb,
  200 : #90caf9,
  300 : #64b5f6,
  400 : #42a5f5,
  500 : #2095f3,
  600 : #1e87e5,
  700 : #1976d2,
  800 : #1564c0,
  900 : #0d46a1,
  A100: #82b1ff,
  A200: #448aff,
  A400: #2979ff,
  A700: #2962ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  )
);
$my-accent: (
  50 :  #e7f9e6,
  100 : #c6eec3,
  200 : #9fe49b,
  300 : #73da6f,
  400 : #4ad14b,
  500 : #00c71e,
  600 : #00b711,
  700 : #00a400,
  800 : #009300,
  900 : #007400,
  A100 : #8bff8b,
  A200 : #58ff58,
  A400 : #25ff25,
  A700 : #0cff0c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
$WebCNueva-primary: mat-palette($my-primary,700);
$WebCNueva-accent: mat-palette($my-accent,700, 600, 900);
// The warn palette is optional (defaults to red).
$WebCNueva-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$WebCNueva-theme: mat-light-theme((
  color: (
    primary: $WebCNueva-primary,
    accent: $WebCNueva-accent,
    warn: $WebCNueva-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($WebCNueva-theme);
// Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn,
  )
));

// Include the dark color styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.unicorn-dark-theme {
  @include angular-material-color($dark-theme);
}